<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="ringtoneFile" value="/ringtone.wav"/>
		<add key ="adDomain" value="sistasdemo.com"/>
		<add key ="adUser" value="ezgi.cadirci"/> 
		<add key="adPassword" value="Sistas1234*"/>
		<add key ="adContainer" value="OU=SISTASDEMO,DC=sistasdemo,DC=com"/>
		<add key="calllogFile" value="call_log.txt"/>
	</appSettings>
</configuration>